<link href="card.css" rel="stylesheet">

<div class="major-card">
    <div>
        <h2 class="post-heading">
            This Chart Shows AI Will Maybe Enslave US
        </h2>
        <a href="/u/Test_Data" class="profile-link">
            <img src="https://uploads-ssl.webflow.com/641497e37beabc6b9a44b55d/641497e37beabc62d444b586_user-5.png" loading="lazy" alt="user-avatar" class="profile-image"/>
            <p class="username">@Username_Handle</p>
        </a>
        <p class="post-paragraph">This is just some boring old &lt;p&gt; text. We should definitely add a feature that allows for rich text editing like in Lesswrong.<br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere. And some other such crazy things.
            <span class="toggle-text" data-hide="yes">This text is starting to get inordinately long. If only there was a way to collapse and expand at will...</span>
        </p>
    </div>
    <div>
        <img src="https://uploads-ssl.webflow.com/641497e37beabc6b9a44b55d/6433014a11af0df20eac0d7d_dynamic-realtime-line-chart.svg" loading="lazy" alt="" class="data-image"/>
    </div>
</div>